<header>
  <div><a href="/">LOGO</a></div>
  <nav>
    <ul>
      <li>
        <a href="#">My topics</a>
      </li>
      <li>
        <a href="#">My Posts</a>
      </li>
    </ul>
  </nav>
  <nav>
    <ul>
      <!-- the logout button is form as the route controller is a post -->
      <!-- for security reasons -->
      <% if (locals.currentUser) { %>
      <form action="/log-out" method="post">
        <button type="submit">Log out</button>
      </form>
      <%} else { %>
      <li><%- include('../forms/loginForm.ejs') %></li>
      <a href="/sign-up">Sign Up</a>
      <%}%>
    </ul>
  </nav>
</header>
