<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
    <title>Create post</title>
  </head>
  <body>
    <%- include('partials/header') %> <% if (locals.currentUser) { %> <%-
    include('forms/createTopicForm') %> <% } else { %>
    <p>You must be logged in to create a topic.</p>
    }
  </body>
</html>
