<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <%- include('partials/header') %>
  <body>
    <% if (locals.currentUser) { %>
    <h1>Welcome back <%= currentUser.username %></h1>
    <% } %>

    <p>this is the index page</p>
  </body>
</html>
