<!DOCTYPE html>
<html lang="en">
  <head>
    <%- include('partials/head') %>
  </head>
  <%- include('partials/header') %>
  <body>
    <h1><%= title %></h1>
    <%- include('forms/signupForm') %>
  </body>
</html>
