<form action="/create-topic" method="post" id="create-topic-form">
  <label for="topic-title">Title of topic: </label>
  <input type="text" name="title" id="topic-title" />

  <textarea name="body" id="topic-bdy">Your topic...</textarea>
  <button type="submit">Submit</button>
</form>
