<form id="membership-form" class="hide" action="/membership" method="post">
  <label for="member-password">enter password:</label>
  <input type="password" name="member_password" id="member-password" />
  <button type="submit">Submit</button>
</form>
