<form action="/sign-up" method="post" id="signup-form">
  <label for="fname">first name: </label>
  <input type="text" name="fname" id="fname" />

  <label for="lname">last name: </label>
  <input type="text" name="lname" id="fname" />

  <label for="username">username: </label>
  <input type="text" name="username" id="username" required />

  <label for="email">email: </label>
  <input type="email" name="email" id="email" required />

  <label for="password">password: </label>
  <input type="password" name="password" id="password" required />

  <label for="confirm-password">confirm password: </label>
  <input
    type="password"
    name="confirm-password"
    id="confirm-password"
    required
  />
  <button type="submit">Sign Up</button>
</form>

<!-- TODO: need something to check that the username is not already taken -->
<!-- if not on form submit, if the username or email already exists, give some kind of notice. -->
<!-- TODO: put these notes in the github project notes -->
